.result-background {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.result-title {
    padding-top: 15vh;
    font-size: 3rem;
    color: white;
    margin: 0;
}

.score {
    font-size: 4rem;
    color: white;
    margin: 0;
    margin-bottom: 2vh;

}

.highscore-title {
    font-size: 1.6rem;
    color: white;
    margin: 0;
    margin-bottom: 12vh;
}

.footer {
    position: absolute;
    bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.role {
    font-size: 1.6rem;
    color: white;
    margin: 0;
}

.name {
    font-size: 1.4rem;
    color: white;
    margin: 0;
    margin-right: 5px;
}

@media (max-width: 650px) {
    .footer {
        gap: 15px;
    }

    .role {
        font-size: 1rem;
    }
    
    .name {
        font-size: 1.1rem;
        margin-right: 2px;
    }
}

@media (max-height: 440px) {
    .footer {
        display: none;
    }

    .highscore-title {
        margin-bottom: 3vh;
    }

    .result-title {
        padding-top: 5vh;
    }
}

@media (max-height: 270px) {
    .result-title {
        display: none;
    }
    
    .score {
        display: none;
    }
    
    .highscore-title {
        display: none;
    }

    .result-background {
        padding-top: 50vh;
    }
}

