.carousel {
    width: 50%;
    height: 100vh;
    padding: 0;
    display: flex;
  }
  
  .slide {
    height: 100vh;
    min-width: 100%;
    transition: 0.5s;
  }

@media (max-width: 650px) {
  .carousel {
    width: 100vw;
    height: 50%;
    padding: 0;
    display: block;
  }

  .slide {
    height: 99.9%;
    min-width: 100%;
    transition: 0.5s;
  }
}