.indicator {
    border-radius: 50%;
    position: absolute;
    width: 14vh;
    height: 14vh;
    top: 50%;
    left: 50%;
    margin: -7vh 0 0 -7vh;
}

.wait {
    background-color: white;
    animation: fadeIn 2s;
}

.green-indicator {
    background-color: green;
    animation: fadeOut 1s;
    animation-delay: 1.5s;
}

.red-indicator {
    background-color: red;
}

  @keyframes fadeOut {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
  }

  @keyframes fadeIn {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
  }