.indicator {
    border-radius: 50%;
    position: absolute;
    width: 8vw;
    height: 8vw;
    top: 50%;
    left: 50%;
    margin: -4vw 0 0 -4vw;
}

.wait {
    background-color: white;
    animation: scaleIn 2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vs {
    font-size: 3vw;
  }

.green-indicator {
    background-color: green;
    animation: toGreen 1s, scaleOut 0.5s 1.5s;
}

img {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.red-indicator {
    background-color: red;
    animation: toRed 1s;
}

@keyframes scaleOut {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}

@keyframes scaleIn {
    0% {transform: scale(0);}
    15% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes toGreen {
    from {background-color: white;}
    to {background-color: green;}
}

@keyframes toRed {
    from {background-color: white;}
    to {background-color: red;}
}

@media (max-width: 750px) {
    .indicator {
      border-radius: 50%;
      position: absolute;
      width: 18vw;
      height: 18vw;
      top: 50%;
      left: 50%;
      margin: -9vw 0 0 -9vw;
    }

    .vs {
      font-size: 5vw;
    }
}