.indicator {
    border-radius: 50%;
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 50%;
    left: 50%;
    margin: -5vw 0 0 -5vw;
}

.wait {
    background-color: white;
    animation: scaleIn 2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .vs {
    font-size: 3vw;
  }

.green-indicator {
    background-color: green;
    animation: toGreen 1s, scaleOut 0.5s 1.5s;
}

img {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
}

.red-indicator {
    background-color: red;
    animation: toRed 1s;
}

  @keyframes scaleOut {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
  }

  @keyframes scaleIn {
    0% {transform: scale(0);}
    15% {transform: scale(0);}
    100% {transform: scale(1);}
  }

  @keyframes toGreen {
    from {background-color: white;}
    to {background-color: green;}
  }

  @keyframes toRed {
    from {background-color: white;}
    to {background-color: red;}
  }