.options {
    display: relative;
    text-align: center;
}

.options-text {
    margin: 0;
    font-size: 2.5vw;
    font-weight: bold;
}

@media (max-width: 650px) {
    .options-text {
        margin: 0;
        font-size: 3.5vw;
        font-weight: bold;
    }
}
