body {
  font-family: 'Varela Round';
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.my-button {
  padding: 1% 2%;
  border-radius: 20px;
  border:white 4px solid;
  background: transparent;
  color: white;
  font-size: 2rem;
}

.my-button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.social-button {
  border-radius: 8px;
  border: none;
  font-size: 1.5rem;
  padding: 4px;
}

.options-button {
  margin: 1vh 30% 1vh;
  width: 30%;
}

.secondary {
  font-size: 1.5vw;
  margin: 4vh 1vh 0;
}

.leaderboard-button {
  width: 14%;
  margin: 4vh 43% 0;
  font-size: 1.5vw;
  padding: 1vh;
}

@media (max-width: 650px) {
  .my-button {
    padding: 1% 4%;
    border-radius: 20px;
    border:white 2px solid;
    background: transparent;
    color: white;
    font-size: 2rem;
  }
  
  .social-button {
    border-radius: 5px;
    padding: 1px 2px 0;
    border: none;
    font-size: 1.5rem;
    margin: 1px 2px;
  }

  .options-button {
    margin: 0.5vh 30% 0.5vh;
    width: 35%;
    padding: 0.7vh 0;
  }

  .submit-button {
    font-size: 1rem;
  }

  .secondary {
    margin: 10px 4px 0;
    font-size: 1.2rem;
  }

  .leaderboard-button {
    width: 48%;
    margin: 10px 26% 0;
    font-size: 1.2rem;
  }

  .mail {
    display: none;
  }
}